/**
 * #.# Navbar
 *
 * Navbar CSS.
 */
.indblog-navbar {
    box-shadow: 10px 20px 30px 20px #8080800f;

    .navbar-nav {
        padding: 0.75rem;

        .nav-item {
            .nav-link {
                color: $primary;
                font-weight: 200;
            }
        }
    }

    .site-branding {
        img {
            height: 50px;
        }
    }
}

/* Searchbar */
.indblog-searchbar {
    position: absolute;
    display: none;
    top: 78px;
    right: 78px;

    .search-field {
        background: #fff;
        border: 0px;
        padding: 5px;
        margin-top: 3px;
    }

    .search-submit {
        padding: 5px;
        background: #fff;
        border: none;
        margin-left: -4px;
        border-left: 1px solid #ddd;
        color: $primary;
    }
}

.indblog-searchbar-active {
    display: block;
}