/**
 * #.# Navbar
 *
 * Navbar CSS.
 */
.indblog-navbar {
    box-shadow: 10px 20px 30px 20px #8080800f;

    .navbar-nav {
        padding: 0.75rem;

        .nav-item {
            .nav-link {
                color: $primary;
                font-weight: 200;
            }
        }
    }

    .site-branding {
        img {
            height: 50px;
        }
    }
}
