/**
 * #.# Sidebar
 *
 * Sidebar portion CSS
 */

.indblog-sidebar {
    .tag-cloud-link {
        margin-left: 2rem;
        border-bottom: 1px dotted $gray-200;
        padding-bottom: 10px;
        font-size: 1rem !important;
    }

    .search-field {
        background: #fff;
        border: 1px solid #ddd;
        padding: 5px 10px;
        margin-top: 3px;
    }

    .search-submit {
        padding: 5px;
        background: #fff;
        border: 1px solid #ddd;
        margin-left: -4px;
        border-left: 1px solid #ddd;
        color: $primary;
    }
}